/* Fonts */
@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap';
/* Fonts */

/* Global utility */
* { outline: none!important; }

.text-white { color: #fff!important; }
.white-all * { color: #fff!important; }
.transparent { opacity: 0; background: transparent!important; }
.dark-bg { background-color: #323232!important; }
.mark-one {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
    font-weight:500!important;
    font-style: normal!important;
}
/* Global utility */

/* Appbar */
.hoverable:hover {
    background-color: rgba(0, 0, 0, .1)!important;
}

.icon-hoverable:hover {
    background-color: rgba(0, 0, 0, .1)!important;
    border-radius: 50%!important;
}

.chrome-bg {
    background: transparent!important;
    backdrop-filter: blur(2px)!important;
    border: 1px solid #808080!important;
}
/* Appbar */