@inherits LayoutComponentBase

<MudThemeProvider DefaultScrollbar Theme="@_theme" IsDarkMode="false"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <Header></Header>
    <MudMainContent Class="pa-0 ma-0" Style="padding-top: 64px!important;"> @* Padding-top used for appbar space only *@
        @Body
    </MudMainContent>

    @* Used for development purposes only *@
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</MudLayout>