<MudNavMenu Color="Color.Dark">
    <MudStack Class="flex-grow-1" Row="false" Spacing="2">
        <div>
            <MudNavLink Class="mark-one" Href="/" Match="NavLinkMatch.All" Icon="@IconsF.Home">Accueil</MudNavLink>
        </div>
        <div>
            <MudNavLink Class="mark-one" OnClick="@(async () => await NavigateToAsync("/skills"))" Match="NavLinkMatch.All" Icon="fas fa-toolbox">Compétences</MudNavLink>
        </div>
        <div>
            <MudNavLink Class="mark-one" OnClick="@(async () => await NavigateToAsync("/users"))" Match="NavLinkMatch.All" Icon="@IconsF.People">Utilisateurs</MudNavLink>
        </div>
    </MudStack>
</MudNavMenu>